---
import Layout from "@/layouts/Layout.astro"
import Error from "@/sections/Error.astro"
---

<Layout
	description="Toldo Perfil: Especialistas en toldos personalizados de alta calidad. Desde toldos retráctiles para terrazas hasta pérgolas elegantes para jardines, ofrecemos soluciones adaptadas a tus necesidades. ¡Transforma tu espacio al aire libre con estilo y protección con Toldo Perfil!"
	title="Toldo Perfil - Página no encontrada"
>
	<main>
		<Error
			error="404"
			message="Página no encontrada"
			contextMessage="¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección URL sea correcta."
		/>
	</main>
</Layout>