---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Info from "@/sections/Info.astro";
import BrandsAndFranchises from "@/sections/BrandsAndFranchises.astro";
import Communities from "@/sections/Communities.astro";
import Individuals from "@/sections/PrivateCustomers.astro";
import Products from "@/sections/Products.astro";
import FAQs from "@/sections/FAQs.astro";
import Form from "@/sections/Form.astro";
---

<Layout
	description="Expertos en instalación y reparación de toldos en Velilla de San Antonio y todo Madrid. Toldo Perfil ofrece pérgolas, capotas y cerramientos de alta calidad y precios competitivos."
	title="Toldo Perfil - Toldos en Velilla de San Antonio y Madrid"
	canonical="https://toldoperfil.es"
	image="/img/og-seo.png"
	isVisibleNav={true}
>
	<Hero />
	<main class="font-sans">
		<Info />
		<BrandsAndFranchises />
		<Communities />
		<Individuals />
		<Products />
		<FAQs />
		<Form />
	</main>
</Layout>
