<form
	class="w-full"
	onsubmit="event => event.preventDefault();return false"
>
	<fieldset class="fixed top-1/2 left-1/2 w-72 -translate-x-1/2 -translate-y-1/2 flex flex-col gap-4 text-sm">
		<div class="relative">
			<label for="fullname" class="text-indigo-100 text-sm cursor-pointer">
				Username
			</label>
			<input
				type="text"
				id="username"
				name="username"
				placeholder=""
				class="relative w-full py-1 px-4 outline-none text-indigo-100 placeholder-indigo-100 border-0 border-b border-indigo-100 cursor-pointer bg-transparent"
			/>
		</div>
		<div class="relative">
			<label for="fullname" class="text-indigo-100 text-sm cursor-pointer">
				Password
			</label>
			<input
				type="password"
				id="password"
				name="password"
				placeholder=""
				class="relative w-full py-1 px-4 outline-none text-indigo-100 placeholder-indigo-100 border-0 border-b border-indigo-100 cursor-pointer bg-transparent"
			/>
		</div>
		<div class="flex justify-between items-center">
			<span id="errorMsg" class="text-red-600"></span>
			<button
				id="loginButton"
				aria-label="Boton de formulario de contacto"
				type="submit"
				class="w-28 py-3 px-5 opacity-100[transition-property: translate] duration-200 ease-linear hover:-translate-y-0.5 button"
				>
				Login 
			</button>
		</div>
	</fieldset>
</form>

<!-- TODO: Cambiar esto por un login de verdad -->
<script>
	import { $, $$ } from "@/consts/dom-selector.ts";

	const checkCredentials = () => {
		const username = $('#username').value;
		const password = $('#password').value;

		// TODO CAMBIAR ESTO IMPORTANTISIMO
		let isUsernameValid = username === 'admin';
		let isPasswordValid = password === '!toldoPERFIL2024';

		return {
			isUsernameValid: isUsernameValid,
			isPasswordValid: isPasswordValid,
		}
	}

	const sendErrorMsg = (credentials) => {
		$('#errorMsg').innerHTML = '¡Credenciales incorrectos!';

	}

	const submitForm = () => {
		$('#errorMsg').innerHTML = '';
		const credentials = checkCredentials();

		if (!credentials.isUsernameValid || !credentials.isPasswordValid) {
			return sendErrorMsg(credentials);
		}

		window.location = '/admin/manager';
	}

	const submitBtn = $('[type="submit"]');
	submitBtn?.addEventListener("click", submitForm);
	
</script>