---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro'
import Services from '@/sections/Services.astro'
import Products from '@/sections/Products.astro'
import Clients from '@/sections/Clients.astro'
import Info from '@/sections/Info.astro'
import Form from '@/sections/Form.astro'
import FAQs from '@/sections/FAQs.astro'
---

<Layout
description="Toldo Perfil: Especialistas en toldos personalizados de alta calidad. Desde toldos retráctiles para terrazas hasta pérgolas elegantes para jardines, ofrecemos soluciones adaptadas a tus necesidades. ¡Transforma tu espacio al aire libre con estilo y protección con Toldo Perfil!"
title="Toldo Perfil - Especialistas en toldos personalizados de alta calidad"
canonical="https://toldoperfil.es"
isVisibleNav={true}
>
	<Hero />
	<main class="font-sans">
		<Info />
		<Products />
		<!-- <Clients /> -->
		<!-- <Services /> -->
		<FAQs />
		<Form />
	</main>
</Layout>