---
import QuestionIcon from "@/icons/question.astro";
import { FAQs } from "@/components/RichResults.astro";
---
{
	FAQs.map(({ answer, question }, index) => {
		const open = index === 0 && 'open';
		return (
		<details class="py-2 group" {open}>
			<summary class="list-none px-4 py-6 text-indigo-900 text-xl font-semibold cursor-pointer border-b group inline-flex justify-between w-full">
				{question}
				<div class="relative w-6 h-6 inline-flex items-center justify-center">
					<span class="absolute w-5 h-1 bg-indigo-900"></span>
					<span class="absolute w-1 h-5 bg-indigo-900 group-open:bg-transparent"></span>
				</div>

			</summary>
			<p class="px-4 py-2 font-light text-sm">{answer}</p>
		</details>
		);
	})
}
<script>
	import { $, $$ } from "@/consts/dom-selector.ts";

	const toggleDetails = (index) => {
		$$("details").forEach((detail, currentIndex) => {
			if (currentIndex !== index) {
				detail.removeAttribute("open");
			}
		});
	};

	$$("details").forEach((detailsTag, index) => {
		detailsTag.addEventListener("click", () => toggleDetails(index));
	});
</script>
