---
import sendGrid from "@sendgrid/mail";
sendGrid.setApiKey(import.meta.env.SENDGRID_API_KEY);

if (Astro.request.method === "POST") {
	debugger;
	try {
		// Getting posted data from our contact form
		const data = await Astro.request.formData();
		const fullname = data.get('fullname');
		const email = data.get('email');
		const phone = data.get('phone');
		const subject = data.get('category');
		const message = data.get('description');

		// Sending email
		const msg = {
			to: "danielcastilloguindos@gmail.com",
			from: "danielcastilloguindos@gmail.com",
			replyTo: { email: email, name: fullname },
			subject: `${subject} | ${fullname}`,
			text: message,
		};

		await sendGrid
			.send(msg)
			.then(() => {
				console.log("Email sent");
			})
			.catch((error) => {
				console.error(error);
			});
	} catch (error) {
		console.error(error);
	}
}
---

<form
	class="w-full"
	method="POST"
>
	<fieldset class="flex flex-col gap-4 text-sm w-full">
		<div class="relative">
			<label for="fullname" class="text-indigo-950 text-sm cursor-pointer">
				¡Hola! ¿Cómo te llamas?
			</label>
			<input
				type="text"
				id="fullname"
				name="fullname"
				placeholder=""
				class="relative w-full py-1 px-4 outline-none text-indigo-900 placeholder-indigo-400 border-0 border-b border-indigo-900 cursor-pointer bg-transparent"
			/>
			<!-- <label
				for="fullname"
				class="absolute top-0 left-0 transition-all duration-300  scale-75 -top-1/2 peer-focus: peer-focus:scale-75 peer-placeholder-shown:-translate-y-0 peer-placeholder-shown:scale-100 -z-0 cursor-pointer"
				>¡Hola! ¿Cómo te llamas?</label
			> -->
		</div>
		<div class="relative">
			<label for="email" class="text-indigo-950 text-sm cursor-pointer">
				¿Cuál es tu correo?
			</label>
			<input
				type="email"
				id="email"
				name="email"
				placeholder=""
				class="relative w-full py-1 px-4 outline-none text-indigo-900 placeholder-indigo-400 border-0 border-b border-indigo-900 cursor-pointer bg-transparent"
			/>
		</div>
		<div class="relative">
			<label for="phone" class="text-indigo-950 text-sm cursor-pointer">
				¿A qué número podemos llamarte?
			</label>
			<input
				type="tel"
				id="phone"
				name="phone"
				placeholder=""
				class="relative w-full py-1 px-4 outline-none text-indigo-900 placeholder-indigo-400 border-0 border-b border-indigo-900 cursor-pointer bg-transparent"
			/>
		</div>
		<div class="relative">
			<label for="category" class="text-indigo-950 text-sm cursor-pointer"
				>Lo que necesitas de nosotros es...</label
			>
			<select
				name="category"
				id="category"
				class="relative w-full py-1 px-4 outline-none text-indigo-900 placeholder-indigo-400 border-0 border-b border-indigo-900 cursor-pointer bg-transparent"
			>
				<option value="">Selecciona una opción</option>
				<option value="1">Pedir presupuesto</option>
				<option value="2">Información</option>
			</select>
		</div>
		<div class="relative">
			<label for="description" class="text-indigo-950 text-sm cursor-pointer">
				¡Escribenos! Estaremos encantados de leerte
			</label>
			<textarea
				name="description"
				id="description"
				placeholder=""
				class="relative w-full py-1 px-4 outline-none text-indigo-900 placeholder-indigo-400 border-0 border-b border-indigo-900 cursor-pointer bg-transparent resize-none"
			></textarea>
		</div>
		<div class="flex justify-center sm:justify-end">
			<button
				aria-label="Boton de formulario de contacto"
				type="submit"
				class="py-3 px-5 opacity-100[transition-property: translate] duration-200 ease-linear hover:-translate-y-0.5 button"
				>Contactar</button
			>
		</div>
	</fieldset>
</form>

<!-- <script>
	import { $, $$ } from "@/consts/dom-selector";

	const apiKey = 'xpzvoqdj'
	const api = `https://formspree.io/f/${apiKey}`;

	const submitForm = () => {
		saveInput();
		sendmail();
	};

	// save and retrieve generic formdata from localstorage
	const getFormData = () => {
		const store = Object.create(null);
		store.fullname = $("#fullname")?.value;
		store.email = $("#email")?.value;
		store.phone = $("#phone")?.value;
		store.category = $("#category")?.value;
		store.description = $("#description")?.value;
		return store;
	};

	const saveInput = () => {
		const { description, category, ...rest } = getFormData();
		localStorage.setItem("contactInfo", JSON.stringify(rest));
	};

	const retrieveInfo = () => {
		const store = JSON.parse(localStorage.getItem("contactInfo") || "{}");
		$("#fullname").value = store.fullname || "";
		$("#email").value = store.email || "";
		$("#phone").value = store.phone || "";
	};
	// end: localstorage

	// This kicks thing of, should really be on window.onload but...
	const submitBtn = $('[type="submit"]');
	submitBtn?.addEventListener("click", submitForm);
	retrieveInfo();
	// window.onload = () => {} // don't know why this wont work

	const sendmail = async () => {
		const { name, surname, email, tel, message, subject } = getFormData();
		const data = await fetch(api, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({ name, surname, email, tel, message, subject }),
		})
			.then((res) => {
				if (!res.ok) {
					throw new Error(res.status);
				}
				return res.json();
			})
			.catch((err) => {
				console.log("Error", err);
				throw new Error("Network error.");
			});
		console.log(data);
	};
</script> -->
