<button
	id="HamburgerButton"
	aria-label="Boton del menu desplegable de la cabecera"
	type="button"
	class="group relative w-10 h-10 block sm:hidden focus:outline-none bg-red-700-button z-10">
		<span class="absolute top-[35%] left-2/4 -translate-x-2/4 translate-y-2/4 block w-6 h-[2.5px] bg-indigo-900 rounded-sm group-[.open]:animate-topbarx"></span>
		<span class="absolute top-2/4 left-2/4 -translate-x-2/4 translate-y-2/4 block w-6 h-[2.5px] bg-indigo-900 rounded-sm group-[.open]:animate-middlebarx"></span>
		<span class="absolute top-[65%] left-2/4 -translate-x-2/4 translate-y-2/4 block w-6 h-[2.5px] bg-indigo-900 rounded-sm group-[.open]:animate-bottombarx"></span>
</button>

<script>
	import { $, $$ } from "@/consts/dom-selector";
	const hamburgerButton = $('#HamburgerButton');
	const menu = $('#menu');

	// document.addEventListener("astro:page-load", () => {
		hamburgerButton.addEventListener('click', () => {
			hamburgerButton.classList.toggle('open');
			menu.classList.toggle('open');

			const hamburgerButtonClick = new CustomEvent('hamburgerButtonClick');
			hamburgerButton.dispatchEvent(hamburgerButtonClick);
		});
		// });
</script>