---
const { title, description, image = "/img/example.jpg" } = Astro.props
---

<figure class="relative overflow-hidden rounded-lg hover:-translate-y-0.5 sm:[transition-property: translate] duration-1000 sm:duration-200 ease-linear">
	<a class="group" href="#"
		><img
			class="w-full object-cover"
			alt=`Imagen de  ${title}`
			src={ image }
			style="view-transition-name: image_{ title };"
		/><figcaption
			class="absolute top-0 left-0 py-10 px-8 w-full h-full flex flex-col justify-center sm:justify-start items-center sm:items-start bg-indigo-950 bg-opacity-50 sm:bg-opacity-0 sm:group-hover:bg-opacity-50 text-white text-center sm:text-left transition-all duration-500 group-hover:duration-200 delay-500 group-hover:delay-0 leading-[4rem]"
		>
			<h5
				class="text-[1.65rem] leading-9 tracking-wider font-bold uppercase opacity-100 sm:opacity-0 sm:group-hover:opacity-100 transition-opacity duration-500"
				style="view-transition-name: title_{ title };"
			>
				{ title }
			</h5><span
				class="text-[0.95rem] font-[Helvetica] tracking-wider opacity-100 sm:opacity-0 sm:group-hover:opacity-100 transition-opacity duration-500"
				>
				{description}
			</span>
		</figcaption></a>
</figure>
