---
import InstagramIcon from "@/icons/instagram.astro"
import XIcon from "@/icons/x.astro"
import TiktokIcon from "@/icons/tiktok.astro";
import WhatsappIcon from "@/icons/whatsapp.astro";
---

<nav class:list={`${Astro.props.class}`}>
	<ul
		class="flex flex-row items-center gap-x-6"
		aria-label="Redes sociales"
	>
		<!-- <li>
			<a
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Instagram de Toldo Perfil, se abrirá en una nueva pestaña"
				href="https://www.instagram.com/toldoperfil"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<InstagramIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li> -->
		<li>
			<a
				target="_blank"
				rel="noopener noreferer"
				aria-label="WhatsApp de Toldo Perfil, se abrirá en una nueva pestaña"
				href="https://wa.me/+34628404370"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<WhatsappIcon class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0" />
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener noreferrer"
				aria-label="X de Toldo Perfil, se abrirá en una nueva pestaña"
				href="https://x.com/toldoperfil"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<XIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
		<!-- <li>
			<a
				target="_blank"
				rel="noopener noreferer"
				aria-label="TikTok de Toldo Perfil, se abrirá en una nueva pestaña"
				href="https://tiktok.com/toldoperfil"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<TiktokIcon class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0" />
			</a>
		</li> -->
	</ul>
</nav>