<section
	id="communities"
	class="flex flex-col justify-center items-center w-full p-0 md:p-16 bg-[url(/img/carousel/protrait02.webp)] bg-no-repeat bg-cover bg-center bg-fixed backdrop-contrast-150 before:w-full before:h-full before:bg-gradient-center before:bg-center before:bg-2em before:absolute before:top-0 before:left-0 before:-z-10 text-white"
>
	<div class="w-full md:max-w-5xl">
		<header
			class="w-full py-4 flex flex-col gap-y-6 justify-center items-center"
		>
			<h3 class="text-3xl font-bold text-center">Comunidades</h3>
			<h4 class="text-sm text-gray-100 max-w-xs text-center">
				Realizamos presupuestos a comunidades o a constructoras para nueva obra
			</h4>
		</header>

		<article
			class="py-4 flex justify-center items-center px-2 sm:px-0 w-full sm:max-w-6xl"
		>
		<a
			href='#contact-us'
			aria-label=`Enlace a la sección "Contactanos"`
			class="py-3 px-5 bg-indigo-50 font-bold [transition-property: translate] duration-200 ease-linear delay-0 hover:-translate-y-0.5 secondary-button"
		>
			Obtén tu presupuesto
		</a>
		</article>
	</div>
</section>