---
import FAQComponent from "@/components/FAQComponent.astro"
---

<section
	id="faq"
	class="flex flex-col justify-center items-center w-full p-0 md:p-16 md:pt-0 bg-transparent text-gray-900"
>
	<div class="w-full md:max-w-4xl">
		<header
			class="w-full py-4 flex flex-col gap-y-6 justify-center items-center"
		>
			<h3 class="text-3xl text-indigo-950 font-bold">Preguntas Frecuentes</h3>
			<h4 class="text-sm text-gray-600 max-w-xs text-center">
				¿Tienes una pregunta? Mándanos un mensaje a través de <a href="#contact-us" class="text-indigo-800 font-semibold" aria-label='Enlace a la sección "Formulario"'>nuestro formulario</a>
			</h4>
		</header>

		<article>
			<FAQComponent />
		</article>
	</div>
</section>

