---
---

<section
	class="flex flex-col justify-center items-center w-full p-0 md:p-16 md:pt-0 bg-indigo-950 text-indigo-950"
>
	<div class="w-full md:max-w-4xl bg-white">
		<header
			class="w-full py-4 flex flex-col gap-y-6 justify-center items-center"
		>
			<h3 class="text-3xl text-indigo-950 font-bold">¡Contáctanos Hoy!</h3>
			<h4 class="text-sm text-gray-100 max-w-xs text-center">
				Transforma tu espacio exterior ahora
			</h4>
		</header>

		<article>
			
			
		</article>
	</div>
</section>