---
---

<section
	class="flex justify-center items-center w-full p-0 md:p-16 md:pt-0 bg-transparent text-gray-900"
>
	<div class="w-full md:max-w-4xl flex-row justify-center items-center">
		<header
			class="w-full py-4 flex flex-col gap-y-6 justify-center items-center"
		>
			<h3 class="text-3xl text-indigo-950 font-bold">Sobre Nosotros</h3>
			<h4 class="text-sm text-gray-600 max-w-xs text-center">
				Pasión por la calidad y el servicio.
			</h4>
		</header>

		<article class="w-full md:max-w-4xl py-4">
			<p class='px-4 sm:px-0 text-[14px] sm:text-xl font-light text-center tracking-wider'>
				<strong class="font-bold">Toldo Perfil</strong> es líder en la industria de toldos, comprometidos con la excelencia y la satisfacción del cliente. Con más de tres décadas de experiencia, hemos perfeccionado nuestro arte en la creación, instalación y mantenimiento de toldos personalizados. Nuestro equipo de expertos, con una pasión compartida por la calidad y el detalle, se dedica a proporcionar soluciones sobresalientes para cada proyecto. Desde la selección de materiales de primera calidad hasta la instalación impecable, nos esforzamos por superar las expectativas en cada paso del camino. Hazte parte de nuestra familia y transforma tu espacio exterior con elegancia y funcionalidad incomparables.
			</p>
			
		</article>
	</div>
</section>

