---
import Layout from '@/layouts/AdminLayout.astro';
import LoginForm from '@/components/admin/LoginForm.astro';
---

<Layout
description="Toldo Perfil: Especialistas en toldos personalizados de alta calidad. Desde toldos retráctiles para terrazas hasta pérgolas elegantes para jardines, ofrecemos soluciones adaptadas a tus necesidades. ¡Transforma tu espacio al aire libre con estilo y protección con Toldo Perfil!"
title="Toldo Perfil - Especialistas en toldos personalizados de alta calidad"
canonical="https://toldoperfil.es"
isVisibleNav={true}
>
	<main class="font-sans">
		<LoginForm />
	</main>
</Layout>